* {
  font-family: 'Noto Sans KR', 'sans-serif';
}

body {
  background-color: #f7f7f7;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-thumb {
  background-color: #cccc;
}

body::-webkit-scrollbar-track {
  background-color: #f7f7f7;
}
