@value layout: '../../assets/common/break_point.css';
@value color: '../../assets/common/color.css';
@value font: '../../assets/common/font.css';

@value customSize from layout;
@value orginWhite, middleWhite, darkWhite, brightGray, orgingGray, middleGray, brightBlack, middleBlack, orgingBlack, opacityBlack from color;
@value baseFont from font;

.gnb {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.4em;
  border-bottom: 1px solid darkWhite;
  width: 100vw;
  height: 6em;
  background-color: orginWhite;
  z-index: 10;
}

.form {
  position: relative;
  display: flex;
  flex-basis: 50%;
  margin-left: 4em;
}

.searchInput {
  flex-grow: 20;
  padding: 0.4em 0.6em;
  border: 1px solid brightGray;
  border-radius: 2px 0 0 2px;
  border-right: none;
  color: brightBlack;
  font-size: baseFont;
}

.searchInput:focus + .history {
  padding: 1.2em 0;
  max-height: 20em;
}

.history {
  position: absolute;
  left: 0;
  top: 3.4em;
  padding: 0;
  width: 100%;
  max-height: 0;
  overflow: auto;
  border-radius: 0.6em;
  background-color: orginWhite;
  box-shadow: 2px 2px 8px brightGray;
  transition: all 0.4s;
}

/* .history scroll */
.history::-webkit-scrollbar {
  display: none;
}

.historyItem {
  padding: 0.4em;
  width: 100%;
  font-size: baseFont;
  text-align: left;
  word-break: break-all;
}

.historyItem:hover {
  background-color: darkWhite;
}

.submitBtn {
  cursor: pointer;
  border: 1px solid brightGray;
  border-radius: 0 2px 2px 0;
  width: 6.6em;
  background-image: url('../../assets/images/submit-icon.svg');
  background-repeat: no-repeat;
  background-position: 2em;
  background-size: cover;
  background-color: middleWhite;
}

.submitBtn:hover,
.submitBtn:focus {
  background-color: darkWhite;
  background-position: -7.9em;
}

/* navigation */
.toolList {
  display: flex;
}

.toolItem {
  position: relative;
}

/* tool-btn */
.toolBtn {
  line-height: 1;
  padding: 0.4em;
  width: 40px;
  height: 40px;
  background-image: url('../../assets/images/header_icon_split.svg');
  background-repeat: no-repeat;
}

.moblieBtn {
  opacity: 0;
  pointer-events: none;
}

.toolList .toolItem:not(:last-child) {
  margin-right: 0.8em;
}

.search {
  background-position: 8px -80px;
}

.alarm {
  background-position: 8px -37px;
}

.mirror {
  background-position: 8px 8px;
}

.user {
  background-position: 8px -124px;
}

/* hover and focus*/
.search:hover {
  background-position: -36px -80px;
}

.alarm:hover {
  background-position: -36px -37px;
}

.mirror:hover {
  background-position: -36px 8px;
}

.user:hover {
  background-position: -36px -124px;
}

/* darkmode */

.gnb.dark {
  border-bottom: 1px solid brightBlack;
  background-color: brightBlack;
}

.gnb.dark .searchInput {
  border: 1px solid middleGray;
  color: middleWhite;
}

.gnb.dark .history {
  background-color: middleBlack;
  box-shadow: 2px 2px 8px orgingBlack;
}

.gnb.dark .historyItem {
  color: orgingGray;
}

.gnb.dark .historyItem:hover {
  background-color: brightBlack;
}

.gnb.dark .form {
  background-color: brightBlack;
}

.gnb.dark .submitBtn {
  border: 1px solid middleGray;
  background-color: middleGray;
}

.gnb.dark .submitBtn:hover,
.gnb.dark .submitBtn:focus {
  background-position: -2.9em;
}

.gnb.dark .toolBtn:hover {
  background-image: url('../../assets/images/dark_mode_icon.svg');
}

.gnb.dark .alarm:hover {
  background-position: 8px -37px;
}

.gnb.dark .mirror:hover {
  background-position: 8px 8px;
}

.gnb.dark .user:hover {
  background-position: 8px -124px;
}

.gnb.dark .search:hover {
  background-position: 8px -80px;
}

.screenOut {
  position: absolute;
  left: -1000px;
  top: -1000px;
  width: 1px;
  height: 1px;
  z-index: -100;
  opacity: 0;
}

/* tooltip */
.tooltipBox {
  position: absolute;
  left: -6px;
  top: 62px;
  display: block;
  padding: 0.4em;
  min-width: 3.6em;
  border-radius: 2px;
  background-color: opacityBlack;
  font-size: baseFont;
  color: middleWhite;
  text-align: center;
  opacity: 0;
  pointer-events: none;
}

.mirror:hover + .tooltipBox,
.alarm:hover + .tooltipBox,
.search:hover + .tooltipBox,
.user:hover + .tooltipBox {
  opacity: 1;
}

@media (hover: none), (hover: on-demand) {
  .mirror:hover + .tooltipBox,
  .alarm:hover + .tooltipBox,
  .search:hover + .tooltipBox,
  .user:hover + .tooltipBox {
    opacity: 0;
  }
}

@media customSize {
  .form {
    position: fixed;
    left: 0;
    top: 5em;
    margin-left: 0;
    padding: 1em 2em;
    width: 100vw;
    height: 4.8em;
    background-color: orginWhite;
  }

  .submitBtn:hover,
  .submitBtn:focus {
    background-position: -7.5em;
  }

  .gnb.dark .submitBtn:hover,
  .gnb.dark .submitBtn:focus {
    background-color: middleGray;
    background-position: -2.8em;
  }

  .history {
    top: 48px;
  }

  .search.moblieBtn {
    opacity: 1;
    pointer-events: all;
  }

  .gnb .form.close {
    opacity: 0;
    pointer-events: none;
  }
}
