@value layout: '../common/break_point.css';

@value mediaMicro, mediaSmall, mediaMiddle, mediaLarge, mediaXL from layout;

.container {
  display: flex;
  margin: 0 auto;
  height: 100%;
}

@media mediaMicro {
  .container {
    max-width: 100%;
  }
}

@media mediaSmall {
  .container {
    max-width: 76em;
  }
}

@media mediaMiddle {
  .container {
    max-width: 106em;
  }
}

@media mediaLarge {
  .container {
    flex-direction: column;
  }
}

@media mediaXL {
  .container {
    max-width: 160em;
  }
}
