.container {
  display: flex;
  margin: 0 auto;
  height: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1440px;
  }
}
