@value color: '../../assets/common/color.css';
@value font: '../../assets/common/font.css';

@value orginWhite, middleWhite, brightGray, orgingGray, middleBlack, opacityBlack from color;
@value baseFont from font;

.screenOut {
  position: absolute;
  left: -1000px;
  top: -1000px;
  width: 1px;
  height: 1px;
  z-index: -100;
  opacity: 0;
}

/* logo */
.logo {
  display: block;
  width: 12.2em;
  height: 2.6em;
  background-image: url('../../assets/images/logo.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* logo dark */
.logo.dark {
  background-image: url('../../assets/images/dark_mode_logo.svg');
}

/* controller */
.controlBtn {
  position: fixed;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: orginWhite;
  box-shadow: 0px 0px 8px brightGray;
  bottom: 30px;
  right: 20px;
  background-image: url('../../assets/images/ctrl-icon.svg');
  background-repeat: no-repeat;
}

.controlBtn.darkmode.show {
  transform: translateY(-120px);
}

.controlBtn.top.show {
  transform: translateY(-60px);
}

.darkmode {
  transition: transform 0.4s linear;
  background-position: 12px 12px;
}

.darkmode:hover,
.darkmode:focus {
  background-position: right 12px top 12px;
}

.top {
  transition: transform 0.4s linear;
  background-position: left 12px bottom -32px;
}

.top:hover {
  background-position: right 12px bottom -32px;
}

.control {
  background-position: left 12px bottom 12px;
}

.control:hover {
  background-position: right 12px bottom 12px;
}

/* controller dark */

.snb.dark .controlBtn {
  background-color: middleBlack;
  box-shadow: 0px 0px 8px opacityBlack;
}

.snb.dark .controlBtn:hover,
.snb.dark .darkmode.active {
  background-image: url('../../assets/images/dark_mode_icon.svg');
  background-repeat: no-repeat;
}

.snb.dark .control:hover {
  background-position: left 12px bottom 12px;
}

.snb.dark .top:hover {
  background-position: left 12px bottom -32px;
}

.snb.dark .darkmode.active {
  background-position: left 12px top -164px;
}

/* tooltip */
.tooltipBox {
  position: absolute;
  display: none;
  padding: 0.4em;
  min-width: 3.6em;
  border-radius: 2px;
  background-color: opacityBlack;
  font-size: baseFont;
  color: middleWhite;
  text-align: center;
}

.snb > .tooltipBox {
  position: fixed;
  right: 82px;
  text-align: center;
}

.darkmode:hover + .tooltipBox,
.top:hover + .tooltipBox,
.control:hover + .tooltipBox {
  display: block;
}

.darkmode + .tooltipBox {
  bottom: 162px;
}

.top + .tooltipBox {
  bottom: 100px;
}

.control + .tooltipBox {
  bottom: 36px;
}
