@value color: '../../assets/common/color.css';
@value font: '../../assets/common/font.css';

@value middleWhite, darkWhite, brightGray, orgingGray, middleGray, brightBlack, middleBlack from color;
@value baseFont, midFont from font;

.content {
  min-width: 70%;
  padding: 8em 1.6em 0;
}

.video {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.iframeWrap {
  width: 100%;
  padding-bottom: 56.25%;
}

.iframe {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.intro,
.info {
  position: relative;
  padding: 2em 0;
  border-bottom: 1px solid brightGray;
}

.title {
  font-size: middleRem;
  font-weight: 400;
  padding: 0.6em 0;
  overflow: hidden;
}

.date {
  font-size: baseFont;
  color: orgingGray;
}

.likeBtn {
  position: absolute;
  right: 4em;
  bottom: 0;
  padding: 0.6em 1em;
  font-size: baseFont;
  color: orgingGray;
}

.likeBtn:hover {
  color: brightBlack;
}

.imgWrap {
  margin-bottom: 0.6em;
}

.channelLogo {
  display: block;
  width: 4em;
  height: 4em;
  border-radius: 50%;
}

.name {
  font-weight: 400;
  font-size: baseFont;
  margin-bottom: 0.6em;
}

.moreBtn {
  margin-bottom: 0.6em;
  font-size: baseFont;
  color: orgingGray;
}

.moreBtn:hover {
  color: brightBlack;
}

.videoDesc {
  font-size: baseFont;
  color: orgingGray;
  white-space: pre-wrap;
}

.videoDesc.show {
  max-height: auto;
}

.videoDesc.hide {
  max-height: 0;
  overflow: hidden;
}

/* darkmode */

.content.dark .intro,
.content.dark .info {
  border-color: brightBlack;
}

.content.dark .title {
  color: middleWhite;
}

.content.dark .name {
  color: middleWhite;
}

.content.dark .likeBtn:hover {
  color: middleWhite;
}

.content.dark .moreBtn:hover {
  color: middleWhite;
}
