@value color: '../../assets/common/color.css';
@value font: '../../assets/common/font.css';

@value orginWhite, middleWhite, orgingGray, opacityBlack from color;
@value baseFont, xlFont from font;

.item {
  margin: 0 1.2em 1em;
  max-width: 32em;
  cursor: pointer;
}

.thumbnail {
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.6s;
  border-radius: 10px;
}

.thumbnail::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: opacityBlack;
  font-size: xlFont;
  text-align: center;
  color: orginWhite;
  opacity: 0;
  transition: all 0.4s;
}

.img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.info {
  display: flex;
  padding: 0.6em 0;
}

.left {
  margin-right: 0.6em;
}

.channelLogo {
  display: block;
  width: 4em;
  height: 4em;
  border-radius: 50%;
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 0.2em;
  font-size: baseFont;
  font-weight: 400;
  overflow: hidden;
}

.desc {
  font-size: baseFont;
  color: orgingGray;
}

.item.column {
  display: flex;
  width: 100%;
  max-width: 100%;
}

.item.column .thumbnail {
  margin-right: 1.6em;
}

.item.column .info {
  flex-basis: 100%;
  padding: 0;
}

.item.column .info .left {
  display: none;
}

.item:hover .thumbnail {
  box-shadow: 1px 1px 24px opacityBlack;
}

.item:hover .thumbnail::after {
  transform: none;
  opacity: 1;
}

/* darkmode */
.item.dark .title {
  color: middleWhite;
}
