@value layout: '../../assets/common/break_point.css';

@value customSize from layout;

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 100%;
  padding: 8em 0 0;
}

.list.column {
  min-width: 30%;
}

@media customSize {
  .list {
    min-width: 100%;
  }

  .list.column {
    padding: 2em 0;
  }
}
