.gnb {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.4em;
  border-bottom: 1px solid #f4f4f4;
  width: 100vw;
  height: 6em;
  background-color: #fff;
  z-index: 10;
}

.form {
  position: relative;
  display: flex;
  align-items: center;
  flex-basis: 50%;
  margin: 0 0 0 4em;
  padding: 0 0.4em;
  max-width: 80em;
  height: 3em;
}

.form.open .history {
  top: 50px;
}

.searchInput {
  flex-grow: 20;
  padding: 0.4em 0.6em;
  border: 1px solid #eeee;
  border-radius: 2px 0 0 0.2em;
  border-right: none;
  color: #1d1d1d;
  font-size: 1.4rem;
}

.searchInput:focus + .history {
  padding: 1.2em 0;
  max-height: 20em;
}

.history {
  position: absolute;
  left: 0;
  top: 3.4em;
  padding: 0;
  width: 100%;
  max-height: 0;
  overflow: auto;
  border-radius: 0.6em;
  background-color: #fff;
  box-shadow: 2px 2px 8px #666;
  transition: all 0.4s;
}

/* .history scroll */
.history::-webkit-scrollbar {
  display: none;
}

.historyItem {
  padding: 1em;
  width: 100%;
  font-size: 1.4rem;
  text-align: left;
  word-break: break-all;
}

.historyItem:hover {
  background-color: #f5f5f5;
}

.submitBtn {
  cursor: pointer;
  border: 1px solid #ededed;
  border-radius: 0 2px 2px 0;
  width: 6.5em;
  height: 3.2em;
  background-image: url('../../assets/images/header_icon_split.svg');
  background-repeat: no-repeat;
  background-position: 21px -78px;
  background-size: cover;
  background-color: #f8f8f8;
}

.submitBtn:hover,
.submitBtn:focus {
  background-color: #f3f3f3;
  background-position: -19px -78px;
}

/* navigation */
.toolList {
  display: flex;
}

.toolItem {
  position: relative;
}

/* tool-btn */
.toolBtn {
  line-height: 1;
  padding: 8px;
  width: 4em;
  height: 4em;
  background-image: url('../../assets/images/header_icon_split.svg');
  background-repeat: no-repeat;
}

.moblieBtn {
  display: none;
}

.toolList .toolItem:not(:last-child) {
  margin-right: 0.8em;
}

.search {
  background-position: 8px -80px;
}

.alarm {
  background-position: 8px -37px;
}

.mirror {
  background-position: 8px 8px;
}

.user {
  background-position: 8px -124px;
}

/* hover and focus*/
.search:hover,
.search:focus {
  background-position: -36px -80px;
}

.alarm:hover,
.alarm:focus {
  background-position: -36px -37px;
}

.mirror:hover,
.mirror:focus {
  background-position: -36px 8px;
}

.user:hover,
.user:focus {
  background-position: -36px -124px;
}

/* darkmode */

.gnb.dark {
  border-bottom: 1px solid #1e1e1e;
  background-color: #202020;
}

.gnb.dark .searchInput {
  border: 1px solid #2b2b2b;
  color: #fefefe;
}

.gnb.dark .history {
  background-color: #202020;
  box-shadow: 2px 2px 8px #0c0c0c;
}

.gnb.dark .historyItem {
  color: #666;
}

.gnb.dark .historyItem:hover {
  background-color: #181818;
}

.gnb.dark .form {
  background-color: #202020;
}

.gnb.dark .submitBtn {
  border: 1px solid #313131;
  background-color: #313131;
}

.gnb.dark .submitBtn:hover,
.gnb.dark .submitBtn:focus {
  background-color: #2f2f2f;
  background-image: url('../../assets/images/dark_mode_icon.svg');
  background-position: right 20px top -86px;
  background-size: auto;
}

.gnb.dark .alarm:hover,
.gnb.dark .alarm:focus {
  background-position: 8px -37px;
}

.gnb.dark .mirror:hover,
.gnb.dark .mirror:focus {
  background-position: 8px 8px;
}

.gnb.dark .user:hover,
.gnb.dark .user:focus {
  background-position: 8px -124px;
}

.gnb.dark .toolBtn:hover {
  background-image: url('../../assets/images/dark_mode_icon.svg');
}

.gnb.dark .search:hover {
  background-position: 8px -80px;
}

.screenOut {
  position: absolute;
  left: -1000px;
  top: -1000px;
  width: 1px;
  height: 1px;
  z-index: -100;
  opacity: 0;
}

/* tooltip */
.tooltipBox {
  position: absolute;
  left: -6px;
  top: 62px;
  display: none;
  padding: 0.2em;
  min-width: 3.6em;
  border-radius: 2px;
  background-color: #00000077;
  font-size: 1.4rem;
  color: #fdfdfd;
  text-align: center;
}

.mirror:hover + .tooltipBox,
.mirror:focus + .tooltipBox,
.alarm:hover + .tooltipBox,
.alarm:focus + .tooltipBox,
.search:hover + .tooltipBox,
.search:focus + .tooltipBox,
.user:hover + .tooltipBox,
.user:focus + .tooltipBox {
  display: block;
}

@media screen and (max-width: 1024px) {
  .form {
    position: fixed;
    left: 0;
    top: 50px;
    margin-left: 0;
    padding: 1em 2em;
    width: 100vw;
    height: auto;
    max-width: none;
    background-color: #fff;
  }

  .history {
    top: 48px;
  }

  .search.moblieBtn {
    display: block;
  }

  .gnb .form.close {
    display: none;
  }
}
