* {
  font-family: 'Noto Sans KR', 'sans-serif';
}



body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-thumb {
  background-color: #cccc;
}

body::-webkit-scrollbar-track {
  background-color: #f6f6f6;
}

/* darkmode */
body.dark {
  background-color: #181818;
}

body.dark::-webkit-scrollbar-track {
  background-color: #181818;
}
