.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 100%;
  padding: 8em 0 0;
}

.list.column {
  min-width: 30%;
}

@media screen and (max-width: 1024px) {
  .list {
    min-width: 100%;
  }

  .list.column {
    padding: 3em 0;
  }
}
